{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/controls.css' %}">    

    <link rel="shortcut icon"
        href="{% static 'app_management/images/mcdonalds-clip-art-png-31.png' %}"+href="{% static 'app_management/images/logo.jpeg' %}"
        type="image/png" />


    {% if user.is_authenticated %}
    <title>|Retail Audit Reporting </title>
    {% else %}
    <title>|Retail Audit Reporting </title>
    {% endif %}
</head>
